body{
    background-color:blue;
    font-style:bold;
    color:red;
}


h1{
    font-style:bold;
    color:red;
}

img{
    Margin:20px;
}

nav{
    display:flex;
    width:100%;
    justify-content:space-between;
    padding:25px;
    backround:green;
}

a{
    color:red;
}


ul{
    display:flex;
    list-style:none;
    width:25%;
    justify-content:space-between;
}